     <!-- begin home slide -->
   <div class="igw-title-container">
      <div class="igw-title-normal"> </div>
      <div class="igw-title-bold"> </div>
    </div> 

    <div class="igw-slide igw-home-slide" data-slide="landing">
        <div class="igw-home-yeelow-container"> </div>
        <div class="igw-home-orange-container"> </div>  
        <div class="igw-home-yeelow-container-white-point"> 
        <div class="igw-home-enter-here" ng-click="commonFunctions.changeslide('network')">ENTER HERE</div>   
        </div>
        <div class="landing-social-div">
          <a class="landing-social-div-text intro-fade-in"   href="https://www.paloaltonetworks.com/company/contact-sales" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-contact-us" target="_blank">Contact Us</a>
          <a class="landing-social-div-icon landing-fade-in" href="https://www.facebook.com/PaloAltoNetworks/" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a class="landing-social-div-icon landing-fade-in" href="https://www.linkedin.com/company/palo-alto-networks/" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a class="landing-social-div-icon landing-fade-in" href="https://twitter.com/paloaltontwks" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="landing-social-div-icon landing-fade-in" href="https://www.youtube.com/user/paloaltonetworks" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-youtube" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
        <div class="igw-landing-logo">
          <img src="{{ projectVars.imgpath }}igw_intro_logo.png" />
        </div>
    </div>
    <!--end home slide-->
    <!-- begin common social div-->
    <div class="content-social-div">
        <a class="landing-social-div-text intro-fade-in"   href="https://www.paloaltonetworks.com/company/contact-sales" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-contact-us" target="_blank">Contact Us</a>
        <a class="landing-social-div-icon landing-fade-in" href="https://www.facebook.com/PaloAltoNetworks/" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a class="landing-social-div-icon landing-fade-in" href="https://www.linkedin.com/company/palo-alto-networks/" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a class="landing-social-div-icon landing-fade-in" href="https://twitter.com/paloaltontwks" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="landing-social-div-icon landing-fade-in" href="https://www.youtube.com/user/paloaltonetworks" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-youtube" target="_blank"><i class="fa fa-youtube-play"></i></a>
      </div>
 <!-- end common social div-->
       <!-- begin network slide -->
       <div class="igw-slide igw-network-slide" data-slide="network">

            <div class="igw-network-title-container">
                    <div class="igw-network-title-normal"> <span class="igw-invisible">How</span> <span class="igw-invisible">do you</span><span class="igw-invisible"> network</span> </div>
                    <div class="igw-network-title-bold"> <span class="igw-invisible">your</span>  <span class="igw-invisible">branch</span> <span class="igw-invisible">offices?</span> </div>
                  </div> 


          <div class="igw-network-yellow-blend-container"> </div>
       <div class="igw-network-slide-green-container"></div>
      
       <div class="igw-network-white-point"> 
        <div class="igw-world-map-img-div"> </div>    
        </div>

        <div class="igw-network-map-pins-wrapper"> 
        <div class="igw-world-map-pins"> 
            <div class="igw-world-map-pin igw-pin-first igw-pin-china">
                <img src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>
            <div class="igw-world-map-pin igw-pin-first igw-pin-india">
                <img src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>  
            <div class="igw-world-map-pin igw-pin-first igw-pin-indonesia">
                <img src="{{ projectVars.imgpath }}branch_pin.png" /> 
            </div>
            <div class="igw-world-map-pin igw-pin-first igw-pin-australia"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>
            <div class="igw-world-map-pin igw-pin-first igw-pin-california"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>
            <div class="igw-world-map-pin igw-pin-first igw-pin-panama"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>
            <div class="igw-world-map-pin igw-pin-first igw-hq-pin"> 
                <img  src="{{ projectVars.imgpath }}branch_hq.png" />
                <img  class="igw-pin-image" src="{{ projectVars.imgpath }}hq-no-pin.png" />
            </div>
            <div class="igw-world-map-pin  igw-pin-brasil"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>
            <div class="igw-world-map-pin igw-pin-italy"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
                <img class="igw-pin-image" src="{{ projectVars.imgpath }}branch-no-pin.png" />
            </div>
            <div class="igw-world-map-pin igw-pin-south-africa"> 
                <img   src="{{ projectVars.imgpath }}branch_pin.png" />
                <img class="igw-pin-image" src="{{ projectVars.imgpath }}branch-no-pin.png" />
            </div>
            <div class="igw-world-map-pin igw-pin-iraq"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>

            <div class="igw-world-map-pin  igw-pin-china-two">
                <img src="{{ projectVars.imgpath }}branch_pin.png" />
                <img  class="igw-pin-image" src="{{ projectVars.imgpath }}branch-no-pin.png" />
            </div>
            <div class="igw-world-map-pin  igw-pin-india-two">
                <img src="{{ projectVars.imgpath }}branch_pin.png" />
                <img  class="igw-pin-image" src="{{ projectVars.imgpath }}branch-no-pin.png" />
            </div>  
            <div class="igw-world-map-pin  igw-pin-indonesia-two">
                <img src="{{ projectVars.imgpath }}branch_pin.png" />
                <img  class="igw-pin-image" src="{{ projectVars.imgpath }}branch-no-pin.png" /> 
            </div>
            <div class="igw-world-map-pin igw-pin-australia-two"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>
            <div class="igw-world-map-pin  igw-pin-california-two"> 
                <img  src="{{ projectVars.imgpath }}branch_pin.png" />
            </div>

            </div>
          </div>
 

          <div class="igw-network-submenu">
             <div class="igw-network-submenu-item" ng-click="commonFunctions.submenuClick($event.currentTarget)" data-item="mpls">MPLS</div>
             <div class="igw-network-submenu-line"></div>
             <div class="igw-network-submenu-item" ng-click="commonFunctions.submenuClick($event.currentTarget)" data-item="internet">Direct to Internet</div>
             <div class="igw-network-submenu-line"></div>
             <div class="igw-network-submenu-item" ng-click="commonFunctions.submenuClick($event.currentTarget)" data-item="sdwan">SD-WAN</div>
            </div>
      
          
            <div class="igw-network-logo">
                <img src="{{ projectVars.imgpath }}igw_intro_logo.png" />
              </div>
      </div>  
        <!--end network slide-->
 <!--begin mpls slide-->
 <div class="igw-slide igw-mpls-slide" data-slide="mpls">

	  
        <div class="igw-mpls-bg-container"> 
          <div class="igw-mpls-bg igw-mpls-bg-bottom"> </div>
          <div class="igw-mpls-bg igw-mpls-bg-left">  </div>
          <div class="igw-mpls-bg igw-mpls-bg-right">  </div>
       </div>
      
      
           <div class="igw-sdwan-title">MPLS</div>
  
     
         
          <div class="igw-green-platform"> <img src="{{ projectVars.imgpath }}green-platform.png" /> 
          
          <div class="igw-green-platform-content"> 
          <img src="{{ projectVars.imgpath }}platform-only-shadow02.png" class="platform-only-green-shadow"/>
          <img src="{{ projectVars.imgpath }}igw-pls-bluearrow.png" class="igw-pls-bluearrow"/>
          
          <svg class="igw-mlps-svg02" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.9 166.67">
    <defs>
  
    </defs>
  
        <g class="arrow-a1">
          <line class="igw-mlps-svg01-cls-1" x1="232.9" y1="40" x2="71.56" y2="20.7"/>
          <polyline class="igw-mlps-svg01-cls-2" points="73.02 31.65 66.07 20.04 76.45 12.33"/>
        </g>
        <g class="arrow-a2">
          <line class="igw-mlps-svg01-cls-1" x1="52.92" y1="2" x2="209.7" y2="21.37"/>
          <polyline class="igw-mlps-svg01-cls-2" points="206.56 12.52 212.9 21.59 202.53 29.3"/>
        </g>
        <g class="arrow-b1">
          <line class="igw-mlps-svg01-cls-1" x1="28.14" y1="164.67" x2="11.87" y2="50.88"/>
          <polyline class="igw-mlps-svg01-cls-2" points="2 57.91 11.42 48.21 21.55 56.24"/>
        </g>
        <g class="arrow-b2">
          <line class="igw-mlps-svg01-cls-1" x1="27.42" y1="42.12" x2="38.86" y2="120.45"/>
          <polyline class="igw-mlps-svg01-cls-2" points="48.01 109.96 38.75 121.58 28.62 113.55"/>
        </g>
  
  </svg>
          
                  <div class="igw-red-ball-branch ball-three" > <img src="{{ projectVars.imgpath }}red-ball.png" /> </div> 
                  <div class="igw-red-ball-branch ball-four" > <img src="{{ projectVars.imgpath }}red-ball.png" /> </div>
                  <div class="igw-mpls-green-ball02" > <img src="{{ projectVars.imgpath }}green-ball02.png" /> </div>
                  <div class="igw-yellow-ball-hq-two" > <img src="{{ projectVars.imgpath }}yellow-ball.png" /> </div>
                  <div class="igw-mpls-cloud02" > <img src="{{ projectVars.imgpath }}blue-cloud.png" /> </div>
              </div>  
               </div>
          <div class="igw-blue-platform-shadow">   <img src="{{ projectVars.imgpath }}platform-only-shadow.png" />   </div>
       
  
  <div class="igw-blue-platform-content"> 
           <div class="igw-blue-platform"> <img src="{{ projectVars.imgpath }}blue-platform.png" /> </div>
          <img src="{{ projectVars.imgpath }}mpls-blue-circle-dashed.png" class="mpls-blue-circle-dashed" />
          
          
  <svg class="igw-mlps-svg01" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 324.89 455.88">
    <defs>
      <style>
        .igw-mlps-svg01-cls-1, .igw-mlps-svg01-cls-2 {
          fill: none;
          stroke: #d9e026;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.3vh;
          opacity: 0.8;
        }
  
        .igw-mlps-svg01-cls-1 {
          stroke-dasharray: 6;
        }
   
      </style>
    </defs>
  
        <g class="arrow-a1">
          <line class="igw-mlps-svg01-cls-1" x1="102.93" y1="453.88" x2="51.24" y2="305.08"/>
          <polyline class="igw-mlps-svg01-cls-2" points="39.73 316.63 50.44 300.3 67 308.93"/>
        </g>
        <g class="arrow-a2">
          <line class="igw-mlps-svg01-cls-1" x1="72.47" y1="287.39" x2="108" y2="391.93"/>
          <polyline class="igw-mlps-svg01-cls-2" points="117 382.93 109.22 396.88 92.66 388.25"/>
        </g>
        <g class="arrow-b1">
          <line class="igw-mlps-svg01-cls-1" x1="322.89" y1="308.52" x2="137" y2="250.93"/>
          <polyline class="igw-mlps-svg01-cls-2" points="138.88 266.14 132.29 249.67 147 240.93"/>
        </g>
        <g class="arrow-b2">
          <line class="igw-mlps-svg01-cls-1" x1="89.29" y1="261.93" x2="274" y2="318.93"/>
          <polyline class="igw-mlps-svg01-cls-2" points="273.29 304.3 279.88 320.77 265.17 329.52"/>
        </g>
        <g>
          <g class="arrow-c1">
            <line class="igw-mlps-svg01-cls-1" x1="33.66" y1="1.5" x2="33.66" y2="55.43"/>
            <polyline class="igw-mlps-svg01-cls-2" points="42.51 51.21 34.06 60.11 24.82 50.93"/>
          </g>
          <g class="arrow-c2">
            <line class="igw-mlps-svg01-cls-1" x1="10.34" y1="70.93" x2="10.34" y2="17.43"/>
            <polyline class="igw-mlps-svg01-cls-2" points="1.5 20.66 9.94 12.21 19.19 20.93"/>
          </g>
        </g>
  
  </svg>
  
  
              <div class="igw-red-ball-branch ball-one" > <img src="{{ projectVars.imgpath }}red-ball.png" /> </div> 
              <div class="igw-red-ball-branch ball-two" > <img src="{{ projectVars.imgpath }}red-ball.png" /> </div>
              <div class="igw-yellow-ball-hq" >
                      <img src="{{ projectVars.imgpath }}yellow-ball.png" /> 					
              </div>
              <img src="{{ projectVars.imgpath }}mpls-sheet.png" class="mpls-sheet mpls-sheet-02" />
              <img src="{{ projectVars.imgpath }}mpls-sheet.png" class="mpls-sheet mpls-sheet-04" />
              <img src="{{ projectVars.imgpath }}mpls-sheet.png" class="mpls-sheet mpls-sheet-01" />
              <img src="{{ projectVars.imgpath }}mpls-sheet.png" class="mpls-sheet mpls-sheet-03" />
              <img src="{{ projectVars.imgpath }}mpls-bricks.png" class="mpls-bricks" />
              
          
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign01" />
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign02" />
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign03" />
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign04" />
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign05" />
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign06" />
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign07" />
              <img src="{{ projectVars.imgpath }}mpls-dollarsign.png" class="mpls-dollarsign mpls-dollarsign08" />			
              
              

              <div class="bubble-wrapper internet-bubble-four-wrapper">
                  <div class="igw-bubble"> 
                      <img src="{{ projectVars.imgpath }}mpls-button01-graph.png"/>
                  By 2025, 40% of all enterprise will use internet access as their only WAN transport, compared with less than 20% in 2021
                  <div class="igw-bubble-connector"></div>
                  </div>
                  <div class="igw-bubble-switch igw-bubble-switch-mpls-anim-four pulse" ng-click="commonFunctions.toggleBubble($event)">
                    <img  class="igw-img-full-width minus" src="{{projectVars.imgpath}}minus-icon.png" />
                    <img  class="igw-img-full-width plus" src="{{projectVars.imgpath}}plus-icon.png" />
                  </div> 
                  </div>  
           
              
              <img src="{{ projectVars.imgpath }}sdwan-greenball.png" class="mpls-greenball01" />
              
              
              <div class="bubble-wrapper internet-bubble-five-wrapper">
                  <div class="igw-bubble"> 
                      <img src="{{ projectVars.imgpath }}mpls-button02-graph.png"/>
                      SaaS and other cloud services are rapidly decentralizing data traffic flows.
                  <div class="igw-bubble-connector"></div>
                  </div>
                  <div class="igw-bubble-switch igw-bubble-switch-mpls-anim-five pulse" ng-click="commonFunctions.toggleBubble($event)">
                    <img  class="igw-img-full-width minus" src="{{projectVars.imgpath}}minus-icon.png" />
                    <img  class="igw-img-full-width plus" src="{{projectVars.imgpath}}plus-icon.png" />
                  </div> 
                  </div>  
          
  </div>
          </div>
<!--end mpls slide-->  


          <!--begin internet slide-->
        <div class="igw-slide igw-internet-slide" data-slide="internet"> 
                <div class="igw-internet-title"> DIRECT TO INTERNET </div>
            

              <div class="igw-internet-animation-scene"> 
               
                <div class="igw-internet-branch-ball-pink">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}internet-pink-branch.png" />
                </div>
                <div class="igw-internet-anim-one-lines">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151.06 134.39"><defs><style>.cls-a1,.cls-a2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}.cls-1{stroke-dasharray:6;}</style></defs>
                            <title>internet-anim-one-lines</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="_046" data-name="046">
                                    <line class="cls-a1 igw-internet-line-down" x1="127.58" y1="130.68" x2="2" y2="8.64"/>
                                    <line class="cls-a1 arrow-anim-one" x1="123.99" y1="126.8" x2="115.01" y2="118.1"/>
                                    <polyline class="cls-a2 arrow-anim-one" points="111.61 132.39 128.05 130.46 128.33 113.86"/>
                                    <line class="cls-a1 igw-internet-line-up" x1="34.75" y1="8.98" x2="149.06" y2="122.15"/>
                                    <line class="cls-a1 arrow-anim-one" x1="32.02" y1="6.35" x2="41" y2="15.23"/>
                                    <polyline class="cls-a2 arrow-anim-one" points="41.7 2 27.96 2.62 27.09 16.61"/></g></g></svg>
                    </div>

               <div class="bubble-wrapper internet-bubble-one-wrapper">
               <div class="igw-bubble">  
                <img src="{{projectVars.imgpath}}direct-access.png" />
                
                By 2025, more than 65% of enterprises will have implemented SD-WANs.
                
               <div class="igw-bubble-connector"></div>
               </div>
               <div class="igw-bubble-switch igw-bubble-switch-internet-anim-one pulse" ng-click="commonFunctions.toggleBubble($event)">
                 <img  class="igw-img-full-width minus" src="{{projectVars.imgpath}}minus-icon.png" />
                 <img  class="igw-img-full-width plus" src="{{projectVars.imgpath}}plus-icon.png" />
               </div> 
               </div> 
                
               <div class="bubble-wrapper internet-bubble-two-wrapper">
                    <div class="igw-bubble"> 
                    
                     <img  class="igw-img-full-width" src="{{projectVars.imgpath}}breakout-lock.png" />
                    Internet breakout at the branch isn't safe.
                    <div class="igw-bubble-connector"></div>
                    </div>
                    <div class="igw-bubble-switch igw-bubble-switch-internet-anim-one pulse" ng-click="commonFunctions.toggleBubble($event)">
                      <img  class="igw-img-full-width minus" src="{{projectVars.imgpath}}minus-icon.png" />
                      <img  class="igw-img-full-width plus" src="{{projectVars.imgpath}}plus-icon.png" />
                    </div> 
                    </div> 
               

                <div class="igw-internet-blue-cloud">
                    <img class="igw-img-full-width" src="{{projectVars.imgpath}}blue-cloud.png" />
                </div>
               
                <div class="igw-internet-shield"> 
                    <img class="igw-img-full-width"  src="{{projectVars.imgpath}}internet-shield-question.png" />
                </div>
            </div>

            <div class="igw-internet-animation-two-scene"> 

                <div class="igw-internet-branch-ball-pink-anim-two">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}internet-pink-branch.png" />
                </div>
                
                <div class="igw-internet-blue-ball-virus">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}blue-ball-virus.png" />
                </div>
                
                <div class="igw-internet-blue-ball-virus-two virus-one">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}blue-ball-virus-two.png" />
                </div>
                <div class="igw-internet-blue-ball-virus-two virus-two">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}blue-ball-virus-two.png" />
                </div>
                <div class="igw-internet-blue-ball-virus-two virus-three">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}blue-ball-virus-two.png" />
                </div>
                <div class="igw-internet-blue-ball-virus-two virus-four">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}blue-ball-virus-two.png" />
                </div>
                <div class="igw-internet-blue-ball-virus-two virus-five">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}blue-ball-virus-two.png" />
                </div>
             

                <div class="igw-internet-anim-two-lines">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187.55 211.01"><defs>
                            <style>.cls-b1,.cls-b2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;opacity:0;}.cls-1{stroke-dasharray:6;}</style></defs>
                            <title>internet-anim-two-lines</title><g id="Layer_2" data-name="Layer 2"><g id="_052" data-name="052">
                                <line class="cls-b1  igw-internet-line-two-up" x1="172.79" y1="42.57" x2="11.35" y2="209.01"/>
                                <line class="cls-b1 arrow-anim-two" x1="177.67" y1="37.29" x2="165.43" y2="49.93"/>
                                <polyline class="cls-b2 arrow-anim-two" points="185.55 54.72 182.82 31.57 159.46 31.18"/>
                                <line class="cls-b1  igw-internet-line-two-down" x1="14.27" y1="160.46" x2="171.13" y2="2"/>
                                <line class="cls-b1 arrow-anim-two" x1="8.13" y1="166.75" x2="20.62" y2="154.12"/>
                            <polyline class="cls-b2 arrow-anim-two" points="2 153.12 2.88 172.47 22.57 173.68"/></g></g></svg>
                </div>

                <div class="igw-internet-shield-anim-two">
                    <img  class="igw-img-full-width" src="{{projectVars.imgpath}}shield-anim-two.png" />
            </div>


            <div class="bubble-wrapper internet-bubble-three-wrapper">
                <div class="igw-bubble"> 
                 <img  class="igw-img-full-width" src="{{projectVars.imgpath}}bubble-three-icon.png" />
                        Branches should have the same level of security as headquarters.
                <div class="igw-bubble-connector"></div>
                </div>
                <div class="igw-bubble-switch igw-bubble-switch-internet-anim-two pulse" ng-click="commonFunctions.toggleBubble($event)">
                  <img  class="igw-img-full-width minus" src="{{projectVars.imgpath}}minus-icon.png" />
                  <img  class="igw-img-full-width plus" src="{{projectVars.imgpath}}plus-icon.png" />
                </div> 
                </div> 
             
            </div> 


  

            <div class="igw-internet-animation-three-scene"> 
                    <div class="igw-internet-animation-three-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1216.33 1204"><defs>
                        <style>.cls-1{fill:none;stroke:#f3723b;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;stroke-dasharray:6;}</style>
                    </defs><title>internet-anim-three-circle</title><g id="Layer_2" data-name="Layer 2"><g id="_056" data-name="056">
                        <path class="cls-1" d="M730.43,1.5c276.44,56.57,484.4,301.17,484.4,594.34,0,335-271.61,606.66-606.67,606.66S1.5,930.89,1.5,595.84c0-292,206.25-535.76,481-593.63"/></g></g>
                    </svg>
                    </div>
                   
                    <div class="igw-internet-animation-three-intermediate-circle">
                        <img  class="igw-img-full-width" src="{{projectVars.imgpath}}internet-animation-three-intermediate-circle.png" />
            
                        </div>
                    

                    <div class="igw-internet-animation-three-final-circle">
                            <img  class="igw-img-full-width" src="{{projectVars.imgpath}}internet-animation-three-final-circle.png" />
                    </div>

                    <div class="igw-internet-animation-three-hacker">
                        <img  class="igw-img-full-width" src="{{projectVars.imgpath}}internet-animation-three-hacker.png" />
                </div>
                 <div class="igw-internet-animation-hacker-red-div">
                    <div class="igw-internet-animation-hacker-green-div"></div>
                 </div>
                    
                    <div class="igw-internet-animation-three-star-wrapper">

                    <div class="igw-internet-animation-three-star">
                         <img  class="igw-img-full-width plus" src="{{projectVars.imgpath}}internet-animation-three-star.png" />    
                    </div>
                    <div class="igw-internet-star-center-div"></div>
                    <div class="igw-internet-star-small-circle-div small-circle-div-one"></div>
                    <div class="igw-internet-star-small-circle-div small-circle-div-two"></div>
                    <div class="igw-internet-star-small-circle-div small-circle-div-three"></div>
                    <div class="igw-internet-star-big-circle-div big-circle-div-one"></div>
                    <div class="igw-internet-star-big-circle-div big-circle-div-two"></div>
                    <div class="igw-internet-star-big-circle-div big-circle-div-three"></div>
                    </div>
                    <div class="igw-internet-animation-stolen-identity">
                            
                            <img  class="igw-img-full-width" src="{{projectVars.imgpath}}stolen-identity.png" />
                            <img  class="igw-img-full-width" src="{{projectVars.imgpath}}stolen-identity-piece.png" />
                        </div>
                     </div>
                    </div>
              
            <!--div class="testbutton" ng-click="commonFunctions.testClick()">
                CLICK!!
               </div-->
        </div>
         <!--end internet slide--> 

          <!--begin sdwan slide-->
        <div class="igw-slide igw-sdwan-slide" data-slide="sdwan"> 
                <div class="igw-sdwan-title">SD WAN</div>
        

              <div class="igw-sdwan-animation-scene"> 

<svg class="igw-sdwan-svg01 center-position" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467.33 405.73" >
  <defs>
    <style>
      .igw-sdwan-cls-1, .igw-sdwan-cls-2 {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 0.3vh;
        stroke-dasharray: 6;
      }

      .igw-sdwan-cls-1 {
        stroke: #d9e026;
      }

      .igw-sdwan-cls-2 {
        stroke: #fff;
      }

      .igw-sdwan-cls-3 {
        fill: #fff;
      }
    </style>
<mask id="igw-sdwan-cls-1a-mask">
	<rect id="igw-sdwan-cls-1-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />

</mask>

<mask id="igw-sdwan-cls-2a-mask">
	<rect id="igw-sdwan-cls-2-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />
</mask>
<mask id="igw-sdwan-cls-3a-mask">
	<rect id="igw-sdwan-cls-3-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />
</mask>
<mask id="igw-sdwan-cls-4a-mask">
	<rect id="igw-sdwan-cls-4-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />
</mask>
	</defs>

    <g >
      <g mask="url(#igw-sdwan-cls-1a-mask)" >
        <path class="igw-sdwan-cls-1 "  d="M2,403.73C53.5,324.73,139.27,273,236.38,273c93.77,0,177,48.22,228.95,122.67"/>
      </g >
      <g mask="url(#igw-sdwan-cls-2a-mask)">	   
		<path class="igw-sdwan-cls-1 "    d="M425.49,390.47c-2.55-2.16-18.29-16.45-20.92-18.51A267.89,267.89,0,0,0,41.83,401.47"/>
      </g >
      <g mask="url(#igw-sdwan-cls-3a-mask)">
        <line class="igw-sdwan-cls-1 " x1="254.83" y1="164.58" x2="253.28" y2="2"/>
	  </g>
      <g mask="url(#igw-sdwan-cls-4a-mask)"> 
		<line class="igw-sdwan-cls-1 " x1="212.49" y1="2" x2="214.05" y2="164.58"/>
		
      </g>
	  <g class="igw-sdwan-svg01-circle">
		<circle class="igw-sdwan-cls-2" cx="234.67" cy="199" r="139.49"/>
	  </g>
      <g class="igw-sdwan-svg01-arrows">
        
        <polygon class="igw-sdwan-cls-3" points="372.66 217.96 350.77 180.04 394.55 180.04 372.66 217.96"/>
        <polygon class="igw-sdwan-cls-3" points="94.66 180.04 116.55 217.96 72.77 217.96 94.66 180.04"/>
      </g>
    </g>

</svg>

			   <img  class="igw-sdwan-greenball igw-sdwan-balls  center-position" src="{{projectVars.imgpath}}sdwan-greenball.png" />
			   <img  class="igw-sdwan-grayball igw-sdwan-balls  center-position" src="{{projectVars.imgpath}}sdwan-grayball.png" />
			   <img  class="igw-sdwan-orangeball igw-sdwan-balls " src="{{projectVars.imgpath}}sdwan-orangeball.png" />
			   <img  class="igw-sdwan-yellowball igw-sdwan-balls " src="{{projectVars.imgpath}}sdwan-yellowball.png" />
			   
			   <img  class="igw-sdwan-lockball01 igw-sdwan-lockball center-position" src="{{projectVars.imgpath}}sdwan-lockball.png" />
			   <img  class="igw-sdwan-lockball02 igw-sdwan-lockball" src="{{projectVars.imgpath}}sdwan-lockball.png" />
			   <img  class="igw-sdwan-lockball03 igw-sdwan-lockball" src="{{projectVars.imgpath}}sdwan-lockball.png" />
			   
			   <div class="igw-sdwan-textblock02 igw-sdwan-textblock ">Option One:<br/>Next-Generation Firewall </div>
			   <div class="igw-sdwan-textblock01 igw-sdwan-textblock center-position">Option Two:<br/>Cloud-Delivered Security</div>       
         <div class="igw-sdwan-textblock03 igw-sdwan-textblock ">Option Three:<br/>SD-WAN Integration </div>
            </div>
        </div>
<!--end sdwan slide--> 
 
<!--begin nav icons--> 
<div class="igw-home-icon">
<img  class="" src="{{projectVars.imgpath}}home.png" ng-click="commonFunctions.homeClick()" />
</div>

<div class="igw-previous-icon"  ng-click="commonFunctions.previousClick()">
 <div class="igw-previous-arrow"></div>
 <div>Previous </div> 
</div>

  <div class="igw-next-icon" ng-click="commonFunctions.nextClick()">
    <div>  Next </div> 
    <div class="igw-next-arrow"></div>
  </div>

  <div class="igw-start-over-button" ng-click="commonFunctions.homeClick()">
   Start over 
  </div>


<!--end nav icons--> 
<!--start modal slide--> 


<div class="igw-modal" > 
<div class="igw-modal-close" ng-click="clickModalSecure($event.currentTarget)" >X</div>
	<div class="igw-modal-header" >Secure Your Branch Offices</div>
	<div class="igw-modal-content01" >In a distributed branch environment, using different point products that address a single security feature (e.g. firewall, IPS, VPN functionality) is not efficient, nor effective to secure your business against successful cyberattacks. It’s critical to consistently enforce security policies that span all locations and networks, making sure that your branches are as secure as your headquarters campus network.
We offer several options to secure your branch offices depending on your organization’s specific needs. </div>
<hr class="igw-moda-hr">
<div class="igw-modal-content" >
		<div>
       
      <img  class=""  src="{{projectVars.imgpath}}igw-moda-01.png"  />
      
      <div  class="igw-moda-01" ng-data-nothover="igw-moda-01" ng-mouseover="modalhover($event.currentTarget)" ng-mouseleave="modalout($event.currentTarget)"><a href="https://www.paloaltonetworks.com/products/secure-the-network/next-generation-firewall" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-nextgenfirewall-link" target="_blank">1. Next-Generation<br/>Firewall</a></div><p>Use next-generation firewalls designed for branch deployment, with the capabilities in a form factor designed for smaller
offices and stores. </p></div>
		<div> 
      <img  class="" src="{{projectVars.imgpath}}igw-moda-02.png"  />
      <div class="igw-moda-02" ng-data-nothover="igw-moda-02"  ng-mouseover="modalhover($event.currentTarget)" ng-mouseleave="modalout($event.currentTarget)"><a href="https://www.paloaltonetworks.com/security-for/network/branch-remote" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-clouddeliveredsecurity-link" target="_blank">2. Cloud-Delivered<br/>Security</a></div><p>With a cloud-based security  infrastructure, you can create and deploy consistent security policies across your entire organization. Plus, manage branch deployments in an operationally efficient manner, with more predictable costs. </p></div>
		<div>    
      <img  class="" src="{{projectVars.imgpath}}igw-moda-03.png"  />
      <div class="igw-moda-03" ng-data-nothover="igw-moda-03" ng-mouseover="modalhover($event.currentTarget)" ng-mouseleave="modalout($event.currentTarget)"><a href="https://www.paloaltonetworks.com/security-for/network/sd-wan" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-sdwanintegration-link" target="_blank">3. SD-WAN<br/>Integration</a></div><p>If you are using SD-WAN, you can integrate SD-WAN with a cloud-based security service or use a  virtual network firewall on an SD-WAN edge device.</p></div>
<span class="clearer"></span>
</div>
<hr class="igw-moda-hr">
<div class="igw-modal-footer" >
SOURCE
<ul>
<li><a href="https://www.networkworld.com/article/3142053/lan-wan/gartner-predicts-sd-wans-to-replace-routers-but-which-sd-wan-is-the-question.html" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-networkworld-link" target="_blank">https://www.networkworld.com/article/3142053/ lan-wan/gartner-predicts-sd-wans-to-replace-routers-but-which-sd-wan-is-the-question.html </a>
</li>
<li><a href="https://www.gartner.com/doc/3890682/sdwan-killing-mpls-prepare-replace" dynamic-asset-click=true dynamic-asset-click-value="{{projectVars.dynamicAssetState}}-gartner-link" target="_blank">https://www.gartner.com/doc/3890682/sdwan-killing-mpls-prepare-replace</a></li>
<li><span>“SD-WAN Is Causing Disruption in the Enterprise WAN Edge”, Gartner June 16, 2017, Analyst Bjarne Munch</span></li>
</ul>
</div>

</div>


<!--end modal slide--> 

 <!--begin common info board-->
 <div class="igw-info-board igw-info-board-internet">
        <div class="igw-info-board-text-wrapper" >
          
    </div>

    <div class="igw-info-board-arrow-wrapper"> 
            <div class="arrow-right"  ng-click="commonFunctions.changeSubAnimation('forward')"></div>
    </div>  
    </div>
 <!--end common info board-->

         <!--begin  common submenu-->
  <div class="igw-common-submenu-wrapper">
        <div class="igw-common-submenu">
                <div class="igw-common-submenu-item igw-bg-green">How do you network your branch offices?</div>
                <div class="igw-common-submenu-item igw-mpls igw-common-submenu-item-active" ng-click="commonFunctions.submenuClick($event.currentTarget)" data-item="mpls">MPLS 
                    <div class="arrow-right-submenu arrow-pulse"></div>
                </div>
                <div class="igw-common-submenu-line" ></div>
                <div class="igw-common-submenu-item igw-internet" ng-click="commonFunctions.submenuClick($event.currentTarget)" data-item="internet">Direct to Internet
                    <div class="arrow-right-submenu arrow-pulse"></div>
                </div>
                <div class="igw-common-submenu-line"></div>
                <div class="igw-common-submenu-item igw-sdwan" ng-click="commonFunctions.submenuClick($event.currentTarget)"  data-item="sdwan">SD-WAN
                    <div class="arrow-right-submenu arrow-pulse"></div>
                </div>
               </div>
        <div class="igw-common-submenu-options" ng-click="clickModalSecure()">
       <div> OPTIONS TO SECURE YOUR BRANCH OFFICES    </div>
        </div>
        <div class="igw-common-submenu-options-hoverable" ng-click="clickModalSecure()">
          <div>OPTIONS TO SECURE YOUR BRANCH OFFICES    </div>
          </div>
  

        </div>      
  <!--end  common submenu-->  