  <!--begin  common submenu-->
  <div class="igw-common-submenu-wrapper">
        <div class="igw-common-submenu">
                <div class="igw-common-submenu-item igw-bg-green">How do you network your branck offices?</div>
                <div class="igw-common-submenu-item " data-item="mpls">MPLS</div>
                <div class="igw-common-submenu-line"></div>
                <div class="igw-common-submenu-item" data-item="internet">Direct to Internet</div>
                <div class="igw-common-submenu-line"></div>
                <div class="igw-common-submenu-item igw-common-submenu-item-active"  data-item="sd-wan">SD-WAN</div>
               </div>
        <div class="igw-common-submenu-options" ng-click="clickModalSecure($event.currentTarget)" >
        OPTIONS TO SECURE YOUR BRANCH OFFICES    
        </div>

        </div>      
  <!--end  common submenu-->    

  <!--begin sdwan slide-->
        <div class="igw-slide igw-sdwan-slide" data-slide="sdwan"> 
                <div class="igw-sdwan-title">SD WAN</div>
                <div class="igw-info-board igw-info-board-sdwan">
                    <div class="igw-info-board-text-wrapper" >
                      <div class="igw-info-board-top">Many organizations are considering SD-WAN as an alternative to MPLS, as a way to more efficiently use Internet connections. </div> 
                      <div class="igw-info-board-line"></div>
                    <div class="igw-info-board-red">SD-WAN enables organizations to network their branch office, but how do you secure the connection?</div>

                    <div class="igw-info-board-line"></div>
                    <div class="igw-info-board-text">Some organizations prefer a firewall on premise to handle local network segmentation, and other organizations want to reduce the IT footprint at the branch. Some organizations need both options, depending on the location.</div>
                </div>

                <div class="igw-info-board-arrow-wrapper"> 
						<div class="arrow-right" ng-click="clickSdwan01($event.currentTarget)"></div>
						
                </div>  
                </div>

              <div class="igw-sdwan-animation-scene"> 

<svg class="igw-sdwan-svg01 center-position" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467.33 405.73" >
  <defs>
    <style>
      .igw-sdwan-cls-1, .igw-sdwan-cls-2 {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 0.3vh;
        stroke-dasharray: 6;
      }

      .igw-sdwan-cls-1 {
        stroke: #d9e026;
      }

      .igw-sdwan-cls-2 {
        stroke: #fff;
      }

      .igw-sdwan-cls-3 {
        fill: #fff;
      }
    </style>
<mask id="igw-sdwan-cls-1a-mask">
	<rect id="igw-sdwan-cls-1-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />

</mask>

<mask id="igw-sdwan-cls-2a-mask">
	<rect id="igw-sdwan-cls-2-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />
</mask>
<mask id="igw-sdwan-cls-3a-mask">
	<rect id="igw-sdwan-cls-3-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />
</mask>
<mask id="igw-sdwan-cls-4a-mask">
	<rect id="igw-sdwan-cls-4-mask" x="0" y="0" width="100%" height="100%"  fill="#fff" />
</mask>
	</defs>

    <g >
      <g mask="url(#igw-sdwan-cls-1a-mask)" >
        <path class="igw-sdwan-cls-1 "  d="M2,403.73C53.5,324.73,139.27,273,236.38,273c93.77,0,177,48.22,228.95,122.67"/>
      </g >
      <g mask="url(#igw-sdwan-cls-2a-mask)">	   
		<path class="igw-sdwan-cls-1 "    d="M425.49,390.47c-2.55-2.16-18.29-16.45-20.92-18.51A267.89,267.89,0,0,0,41.83,401.47"/>
      </g >
      <g mask="url(#igw-sdwan-cls-3a-mask)">
        <line class="igw-sdwan-cls-1 " x1="254.83" y1="164.58" x2="253.28" y2="2"/>
	  </g>
      <g mask="url(#igw-sdwan-cls-4a-mask)"> 
		<line class="igw-sdwan-cls-1 " x1="212.49" y1="2" x2="214.05" y2="164.58"/>
		
      </g>
	  <g class="igw-sdwan-svg01-circle">
		<circle class="igw-sdwan-cls-2" cx="234.67" cy="199" r="139.49"/>
	  </g>
      <g class="igw-sdwan-svg01-arrows">
        
        <polygon class="igw-sdwan-cls-3" points="372.66 217.96 350.77 180.04 394.55 180.04 372.66 217.96"/>
        <polygon class="igw-sdwan-cls-3" points="94.66 180.04 116.55 217.96 72.77 217.96 94.66 180.04"/>
      </g>
    </g>

</svg>

			   <img  class="igw-sdwan-greenball igw-sdwan-balls  center-position" src="{{projectVars.imgpath}}sdwan-greenball.png" />
			   <img  class="igw-sdwan-grayball igw-sdwan-balls  center-position" src="{{projectVars.imgpath}}sdwan-grayball.png" />
			   <img  class="igw-sdwan-orangeball igw-sdwan-balls " src="{{projectVars.imgpath}}sdwan-orangeball.png" />
			   <img  class="igw-sdwan-yellowball igw-sdwan-balls " src="{{projectVars.imgpath}}sdwan-yellowball.png" />
			   
			   <img  class="igw-sdwan-lockball01 igw-sdwan-lockball center-position" src="{{projectVars.imgpath}}sdwan-lockball.png" />
			   <img  class="igw-sdwan-lockball02 igw-sdwan-lockball" src="{{projectVars.imgpath}}sdwan-lockball.png" />
			   <img  class="igw-sdwan-lockball03 igw-sdwan-lockball" src="{{projectVars.imgpath}}sdwan-lockball.png" />
			   
			   <div class="igw-sdwan-textblock01 igw-sdwan-textblock center-position">Option Two:<br/>Cloud-Delivered Security</div>
			   <div class="igw-sdwan-textblock02 igw-sdwan-textblock ">Option One:<br/>Next-Generation Firewall </div>
			   <div class="igw-sdwan-textblock03 igw-sdwan-textblock ">Option Three:<br/>SD-WAN Integration </div>
			   
               
            </div>
              

        </div>
<!--end sdwan slide--> 


<!--start modal slide--> 
<div class="igw-modal" > 
<div class="igw-modal-close" ng-click="clickModalSecure($event.currentTarget)" >X</div>
	<div class="igw-modal-header" >Secure Your Branch Offices</div>
	<div class="igw-modal-content01" >In a distributed branch environment, using different point products that address a single security feature (e.g. firewall, IPS, VPN functionality) is not efficient, nor effective to secure your business against successful cyberattacks. It’s critical to consistently enforce security policies that span all locations and networks, making sure that your branches are as secure as your headquarters campus network.
We offer several options to secure your branch offices depending on your organization’s specific needs. </div>
<hr class="igw-moda-hr">
<div class="igw-modal-content" >
		<div><img  class="" src="{{projectVars.imgpath}}igw-moda-01.png" /><div>1. Next-Generation<br/>Firewall</div><p>Use next-generation firewalls designed for branch deployment, with the capabilities in a form factor designed for smaller
offices and stores. </p></div>
		<div><img  class="" src="{{projectVars.imgpath}}igw-moda-02.png" /><div>2. Cloud-Delivered<br/>Security</div><p>With a cloud-based security  infrastructure, you can create and deploy consistent security policies across your entire organization. Plus, manage branch deployments in an operationally efficient manner, with more predictable costs. </p></div>
		<div><img  class="" src="{{projectVars.imgpath}}igw-moda-03.png" /><div>3. SD-WAN<br/>Integration</div><p>If you are using SD-WAN, you can integrate SD-WAN with a cloud-based security service or use a  virtual network firewall on an SD-WAN edge device.</p></div>
<span class="clearer"></span>
</div>
<hr class="igw-moda-hr">
<div class="igw-modal-footer" >
SOURCE
<ul>
<li><a href="https://www.networkworld.com/article/3142053/ lan-wan/gartner-predicts-sd-wans-to-replace-routers-but-which-sd-wan-is-the-question.html" target="_blank">https://www.networkworld.com/article/3142053/ lan-wan/gartner-predicts-sd-wans-to-replace-routers-but-which-sd-wan-is-the-question.html </a>
</li>
<li><a href="https://www.gartner.com/doc/3890682/sdwan-killing-mpls-prepare-replace" target="_blank">https://www.gartner.com/doc/3890682/sdwan-killing-mpls-prepare-replace</a></li>
<li>“SD-WAN Is Causing Disruption in the Enterprise WAN Edge”, Gartner June 16, 2017, Analyst Bjarne Munch</li>
</ul>
</div>

</div>


<!--end modal slide--> 

